
@{
    ViewBag.Title = "404 Error";
    string errorName = string.IsNullOrEmpty(ViewBag.ErrorName) ? "Resource" : ViewBag.ErrorName;
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error :</h4>
    <hr />
    <h5>
        "@errorName" not found.
    </h5>
</div>

