
<div>
    <h5 class="text-light"> Who we are:</h5>
    <p class="text-light">We are a tech review underground community. We are reviewing the newest, neatest products, gadgets, apps on the planet.</p>
    <p class="text-light">We are reviewing awesome stuff. After long talks with our secret board members, and also a misterious voting system, we decide what products to review and present on our humble blog.</p>
    <h5 class="text-light"> Contact us:</h5>
    <p class="text-light">Email: CrilieTechReviews@CrilieTechReviews.com</p>
    <p class="text-light">Dwarka, Gujarat 361335, India</p>
</div>